click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
docopt==0.6.2
Flask==1.1.4
importlib-metadata==2.1.3
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.8.0
MarkupSafe==1.1.1
numpy==1.16.6
odm2api==0.7.1+32.g53d0960
pandas==0.24.2
pathlib2==2.3.7.post1
pip-reqs==0.10.0
pyaml==21.10.1
pyodbc==4.0.32
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
scandir==1.10.0
six==1.16.0
spyne==2.14.0
SQLAlchemy==1.0.19
suds==0.4
typing==3.10.0.0
Werkzeug==0.16.1
-e git+https://github.com/ODM2/WOFpy.git@3382f4d6ea69a59053afa3df8fe7854b8fe46201#egg=WOFpy
zipp==1.2.0
